
:root {
  /* Main colors */
  --light-blue-logo: #91d9e8;
    /* dark blue logo 5fcde4 */
  --light-blue: #93ebee; 
  --light-green: #7fdabd;

  /* Backgrounds */
  --green-dark: rgb(10, 25, 21);
  --green-dark-1: rgb(34, 46, 42);
  --container-dark: rgba(20, 20, 10, 200);
}

/*
 * Header
 */
 .masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .5rem 0;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  text-shadow: var(--light-blue-logo) 0 0 0.8rem;
  border-bottom-color: #fff;
}

.masthead a {
  font-family: 'Quantico';
  font-weight: 100;
  transition: 0.5s;
}

.masthead a:hover {
  text-decoration: none;
  text-shadow: var(--light-blue-logo) 0 0 1rem;
}

.masthead #main-logo-link {
  font-family: 'Chakra Petch';
}

.small-img {
    width: 250px;
}

.small-figure {
    height: 300px;
}

pre {
    padding: 1.0em;
    border-radius: 0.40rem;
    box-shadow: 0em 0em 0.6em 0.1em rgba(0, 0, 0, 0.6)
}

/*
* Headers
*/
h1 {
  font-family: 'Quantico';
  font-size: 1.875rem;
  font-weight: 800;
  color: var(--light-green);
}

h2 {
  font-family: 'Quantico';
  text-transform: uppercase;
  font-size: 1.45rem;
  padding-top: 0.5rem;
  font-weight: 800;
  color: #EAEAEA;
}

/*
* Home landing page
*/

#landing h1 {
  padding-top: 0.5rem;
}

#landing h2 {
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

.rounded-container {
  background-color: var(--container-dark);
  border-radius: 0.4em;
  border-color: var(--green-dark-1);
  border-width: 1px;
}

.extra-padding {
  padding: 1.8em;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html {
  min-height: 100%;
}

body {
  background-image: linear-gradient(var(--green-dark-1) 0%, var(--green-dark) 75%);
  /* background-image: radial-gradient(circle at center, var(--dark) 0%, var(--green-dark) 75%); */
  background-size: cover;

  min-height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 100;
}

body p {
  font-size: 18px;
  font-weight: 100;
  color: #EAEAEA;
}

.body-container {
  max-width: 48em;
  width: 100%;
}

.main-container a:hover {
  text-shadow: var(--light-blue-logo) 0 0 0.3rem;
}

.main-container a.btn:hover {
  box-shadow: black 0 0.2rem 0.7rem;
}

.main-container a {
  transition: 0.5s !important;
}

/*
 * Main page /
 */
#logo {
  /* max-height: inher;  */
  height: 50px;
}

img.small-pixel-art-icon {
  height: 80px;
  margin: 2em;
  image-rendering: crisp-edges;
  image-rendering: pixelated; /* fallback */
}

.row.tutorial {
  margin-top: 4em;
}

.row.blog {
  margin-top: 4em;
}

@media (max-width: 575.98px) { 
  .row.tutorial,
  .row.blog {
    padding-left: 0em;
    padding-right: 0em;
  }

  #yt-video-embed {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.btn {
  background-color: var(--green-dark-1);
  border-color: var(--green-dark);
  color: var(--light-blue);
  font-size: 1.15em;
  font-family: "Quantico";
  font-size: 1rem;
  margin-top: 1em;
  padding: 10px 14px 10px 14px;
}

.btn:hover {
  background-color: var(--light-blue-logo);
  border-color: var(--green-dark);
  color: var(--green-dark-1);
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

#yt-video-embed {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*
 * Cover
 */

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.cover .headline {
  min-height: 320px;
  background-color: rgba(20, 20, 10, 200);
  border-radius: 0.4em;
  padding: 2em;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/*
 * About page
 */

#about h2 {
  margin-top: 2.2em;
  margin-bottom: 0.6em;
}

 /*
 * Post
 */

#post-container .card-title {
  font-size: 30px;
  font-weight: 800;
}

#about .card,
#post-container {
  background-color: var(--green-dark);
}

.main-panel a,
#post-container a {
  color: var(--light-blue);
}

#post-container .alert-secondary {
  background-color: var(--container-dark);
  border-color: var(--green-dark-1);
  color: white;
}

#about h2:not(:first-child),
#post-container h2:not(:first-child) {
  margin-top: 2em;
  margin-bottom: 0.6em;
}

#post-container img {
  display: block;
  max-width: 100%;
  margin: auto;
}

#post-container blockquote {
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 1rem;
  margin-right: 2rem;
  padding: 1rem;
  font-style: italic;
  border-left: #EAEAEA;
  border-left-style: solid;
  border-left-width: 2px;
  border-spacing: 20px;
}

#post-container blockquote p:last-of-type {
  margin-bottom: 0px;
}
