#manuals-list {
    width: 94%;
    margin: auto;
}

.rounded-container {
    /* padding: 0em; */
    /* padding-bottom: 6px; */
    /* margin: 0.5em; */
    /* min-height: 20em; */
}

.rounded-container .rounded-container-overlap {
    height: 100%;
    /* padding: 1em; */
}

.rounded-container-overlap .d-flex .flex-column {
    padding: 0em;
}

/* Remove green color from manual title. Make it white. */
.rounded-container-overlap h3 > a {
    color: unset;
}